/*
    -- #filename       : forgot-password.css
    -- #authors-quote  : This Project Belongs to the CTHSC students Fortunate .M, Phillippa .M and Mc Samuel .S *2020-February-Semester
    -- ********************************************************************************************************************************* 
    -- vanilla css 
*/

.forgot-pw-text {
    padding: 2%;
    text-align: center;
}

.forgot-pw-form {
    /* padding-left: 25%;*/
    padding: 4%;
    text-align: center;
    background-color: #aaaaaa39;
    box-shadow: 1px 10px 50px 0px #ab987a;
    margin: 3%;
}


/* a .activation-link{
     font: #FF533D;
} */


/* div .link-item{
    margin-bottom: 50%;
border: red solid;
} */

.activating-link:visited {
    color: #0f1626;
}

#link-div {
    margin-top: 3em;
}

#link-div-a {
    color: #FF533D;
    padding: -1%;
}

#link-div-a:hover {
    background-color: #0f1626;
    text-decoration: underline;
    font-size: large;
    content: attr(r_quote);
}